/* Global styles */

*,
*::before,
*::after
 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #fff;
	background: #40155A;
}


/* General styles */

.container	{
	max-width: 75vw;
	margin: 0 auto;
}


header, footer {
	padding: 5vh 0;
}


img {

	max-width: 400px;
	width: 100%;
	height: auto;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgb(23, 177, 2);
}

h1 {
	line-height: 2;
}

h2 {
	font-size: 2.5em;
}

h4 {
	color: #f25f25;
	font-size: 1.2em;
	font-weight: 300 !important;
	margin-bottom: 0.5em;
}


a {
	text-decoration: none;
}

a:hover {
	color: #fff;
}



.logo {
width: 250px;
}



footer .popcorn {
	max-width: 150px;
	margin-right: 24px;
}

footer .container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	line-height: 1.2em;
	font-size: 0.8em;
	font-weight: 300;
}



/* homepage */

.topSectionIndex {
	background: url('images/bgreel-1.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom; 
	min-height: 60vh;
}



#movieList {
	background: #fff;
	display: grid;
  	grid-template-columns: 30vw 30vw;
  	grid-column-gap: 5vw;
  	justify-content: center;
  	padding: 15vh 0 5vh;
}

#movieList article{
margin-bottom: 5vh;
}
.movieCard {
	text-align: center;
}





/* single movie */


.topSectionSingle {
	background: url('images/bgreel-3.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom; 
	min-height: 60vh;
}

.goBack {
	color: #DBD9D2;
}

.trailer {
	text-align: center;
}

.movieInfo {
	padding: 10vh 0 5vh;
}

.movieInfo article, .movieInfo aside {
	margin-bottom: 5vh;
}


aside .info {
	display: flex;
	justify-content: flex-start;
	padding: 0 0 2vh 0;
}

.info .infoLeft {
	width: 150px;
	color: #f25f25;
}

.info .infoRight ul {
	list-style: none;
}



@media only screen and (min-width: 960px) {
  #movieList {
  	grid-template-columns: 15vw 15vw 15vw;

}

.movieInfo {
	display: flex;
	justify-content: space-between;
}

.movieInfo article {
	max-width: 40vw;

}

}
